@media screen and (max-width: 1000px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20%;
    margin-bottom: 0% !important;
  }

  .timeline-swiper-wrapper {
    width: 100%;
  }
  .timeline-swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4%;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  .timeline-container {
    flex: none;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
  }
  .timeline-container-text {
    padding: 5% 5%;
  }
  .timeline-container-text h2 {
    font-size: 13pt;
    color: black;
  }
  .timeline-container-text small {
    font-size: 10pt;
    color: darkgrey;
  }
  .timeline-container-text p {
    font-size: 11pt;
  }
  .timeline-stick {
    display: none;
  }

  .right-container {
    left: 0%;
  }

  #projects .swiper-button-next,
  #projects .swiper-button-prev {
    display: none !important;
  }
}

@media screen and (min-width: 1001px) {
  .experience-timeline {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    margin-top: 5%;
    --stick-height: 0%;
  }
  .timeline-stick {
    position: absolute;
    width: 0.4vw;
    height: 100%;
    background: #000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: var(--stick-height);
  }
  .overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    box-sizing: border-box;
    transition: bottom 0.4s ease;
  }
  .overlay p {
    color: whitesmoke;
    font-size: 1.5vw;
  }
  .overlay a {
    color: white;
    font-size: 1.5vw;
  }
  .overlay a:hover {
    color: cornflowerblue;
  }
  .overlay strong {
    color: cornflowerblue;
  }
  .image-container:hover .overlay {
    bottom: 0;
  }
}
